html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: #fafafa;
  font-family: "Helvetica Neue", arial, sans-serif;
  font-weight: 400;
  color: #444;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

#app {
  height: 100%;
}

.neutral {
  background-color: white;
}

.red {
  background-color: red;
}

.green {
  background-color: limegreen;
}

.blue {
  background-color: deepskyblue;
}

.yellow {
  background-color: yellow;
}
